body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

form{
	margin: 50px auto 0;
    padding: 20px;
    width: 400px;
    background: #f1f1f1;
    border: 8px solid #f7f7f7;
}
form label{
	margin:0 0 8px;
	padding:0px;
	display:block;
	font-size:14px;
	line-height:18px;
}
form input[type=text]{
	margin:0 0 15px;
	padding:8px 15px;
	display:block;
	width:90%;
	border:1px solid #ccc;
}	
form input[type=submit]{
	margin:0px;
	padding:8px 15px;
	background:#333;
	border:1px solid #ccc;
	color:#fff;
	cursor:pointer;
}